@use "@carbon/colors";
@use "@carbon/layout";

.navItem {
  width: 100%;
}

.navTooltip {
  width: 100%;

  :global(.cds--tooltip-trigger__wrapper),
  :global(.cds--side-nav__link) {
    display: block;
    width: 100%;
  }
}

.menu {
  display: flex;
  align-items: center;
  width: 100%;
}

.icon {
  flex: 0 0 auto;
  margin-right: layout.$spacing-06;
  fill: colors.$gray-70;
}
