@use "@carbon/layout";
@use "@carbon/type";
@use "@openmrs/esm-styleguide/src/vars" as *;

.panelItemContainer {
  @include type.type-style("body-01");
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: layout.$spacing-03;
  min-block-size: layout.$spacing-09;
  color: $field-01;
}

.label {
  display: flex;
  align-items: center;
  min-inline-size: 0;
  cursor: pointer;

  span {
    overflow-wrap: anywhere;
  }
}

.toggle {
  flex-shrink: 0;
  margin-inline-end: layout.$spacing-05;
}
