@use "@carbon/layout";
@use "@carbon/type";
@use "@openmrs/esm-styleguide/src/vars" as *;

.contactDetails,
.deceased {
  color: $text-02;
  width: 100%;
  border-top: 1px solid $ui-03;
}

.heading {
  @include type.type-style("heading-compact-01");
  color: $text-02;
}

.tiles {
  @include type.type-style("body-compact-01");
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  align-items: stretch;
}

.tiles > .col {
  min-width: 0;
  padding: layout.$spacing-05;
  border-right: 1px solid $ui-03;
  border-bottom: 1px solid $ui-03;
}

.detailList {
  margin: layout.$spacing-03 0 0;
  padding-left: layout.$spacing-05;
  list-style: disc;
}

.detailList li {
  margin: layout.$spacing-03 0;
  padding-left: layout.$spacing-02;
}

.itemLabel {
  font-weight: 600;
}

.emptyState {
  margin: layout.$spacing-03 0 0;
  color: $text-02;
}

.relationship {
  display: flex;
  flex-flow: row nowrap;
  gap: layout.$spacing-03;
}

.relationship div {
  flex: 1 1;
}
