@use "@carbon/layout";
@use "@carbon/type";
@use "@openmrs/esm-styleguide/src/vars" as *;

.contactDetails,
.deceased {
  color: $text-02;
  width: 100%;
  border-top: 1px solid $ui-03;
}

.heading {
  @include type.type-style("heading-compact-01");
  color: $text-02;
}

.tiles {
  @include type.type-style("body-compact-01");
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

.tiles > .col {
  min-width: 0;
  padding: layout.$spacing-05;
  border-right: 1px solid $ui-03;
  border-bottom: 1px solid $ui-03;
}

.tiles li {
  margin: layout.$spacing-03 0;
}

.relationship {
  display: flex;
  flex-flow: row nowrap;
}

.relationship div {
  flex: 1 1;
}
