.tile {
  min-height: 6rem;
}

.heading {
  font-size: 1rem;
  font-weight: 600;
}

.content {
  margin-top: 0.25rem;
  color: #525252;
  font-size: 0.875rem;
}

.action {
  background-color: transparent;
}
