@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.widgetCard {
  background-color: $ui-02;
  border: 1px solid $ui-03;
  width: 100%;
}

.accordionTitle {
  font-size: 0.875rem;
}

.detailList {
  display: grid;
  grid-template-columns: minmax(8rem, max-content) 1fr;
  gap: layout.$spacing-03 layout.$spacing-05;
  padding: layout.$spacing-03 0;

  dt {
    font-weight: 600;
  }
}

.responseText {
  white-space: pre-wrap;
}
