@use "@carbon/layout";
@use "@openmrs/esm-styleguide/src/vars" as *;

.patientSearchResultContainer {
  border-bottom: 1px solid $ui-03;
  background-color: $ui-02;

  &:focus,
  &:focus-within {
    outline: 2px solid $interactive-01;
    outline-offset: -2px;
  }
}

.patientSearchResult,
.deceased.patientSearchResult {
  text-decoration: none;
  display: flex;
  align-items: center;
  border: none;
}

.patientSearchResultInteractive {
  &:hover,
  &:focus {
    background-color: $ui-01;
  }
}

.patientSearchResultButton {
  background: none;
  cursor: pointer;
  width: 100%;
}

.patientSearchActions {
  display: flex;
  justify-content: flex-end;

  &:empty {
    display: none;
  }
}

.patientAvatar {
  width: 3.5rem;
  height: 3.5rem;
  margin: layout.$spacing-05;
  border-radius: 1px;
}

.skeletonIcon {
  height: 3.5rem;
  width: 3.5rem;
}
