@use "@carbon/layout";
@use "@carbon/type";

.refineSearchContainer {
  min-width: 19rem;

  h2 {
    margin: layout.$spacing-03 0;
  }
}

.field {
  margin-bottom: layout.$spacing-05;

  &:empty {
    display: none;
    margin-bottom: 0;
  }

  input {
    min-width: unset !important;
  }
}

.button {
  width: 100%;
  max-width: unset;
}

.productiveHeading02 {
  @include type.type-style("heading-compact-02");
}
