@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.uploadStudiesLabel {
  color: '#009384';
}

.formContent {
  margin: layout.$spacing-05;
}

.formContainer {
  height: 100%;
}

.header {
  border-bottom: 0.0625rem solid $grey-2;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tabletButtons {
  margin-top: layout.$spacing-07;
  padding: layout.$spacing-06 layout.$spacing-05;
  background-color: $ui-02;
}

.desktopButtons {
  margin-top: layout.$spacing-07;
}

.buttons {
  justify-content: flex-end;
}

.uploadProgress {
  padding: 0 layout.$spacing-05;
}
