@use "@carbon/layout";

.changeLocationButton {
  display: flex;
  flex: 0 1 auto;
  width: auto;
  min-width: 0;
  max-width: 22rem;
  overflow: hidden;
  background-color: transparent;
  color: white;
  font-size: 14px;
  padding: layout.$spacing-04 !important; // this gets unset in rtl language without !important

  &:hover {
    color: white;
  }
}

.currentLocationText {
  min-width: 0;
  overflow: hidden;
  padding-inline-start: layout.$spacing-02;
  padding-inline-end: layout.$spacing-04;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 48rem) {
  .changeLocationButton {
    width: layout.$spacing-09;
    min-width: layout.$spacing-09;
    padding-inline: layout.$spacing-04 !important;
  }

  .currentLocationText {
    display: none;
  }
}
