@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.tablet {
  background-color: transparent;
}

.desktop {
  background-color: transparent;
}

.visitTypeOverviewWrapper {
  margin: layout.$spacing-03 0;
  border: 0;
}

.dropdownGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: layout.$spacing-05;
}

.tileContainer {
  background-color: $ui-02;
  padding: layout.$spacing-09 0;
}

.tile {
  margin: auto;
  width: fit-content;
}

.tileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  @include type.type-style('heading-compact-02');
  color: $text-02;
  margin-bottom: layout.$spacing-03;
}

.helper {
  @include type.type-style('body-compact-01');
  color: $text-02;
}

@media (max-width: 42rem) {
  .dropdownGrid {
    grid-template-columns: 1fr;
  }
}
