@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.widgetCard {
  border: 1px solid $ui-03;
}

.iconRecorded {
  fill: $text-02;
}

.iconPending {
  fill: $text-03;
}

// Responsive: allow horizontal scroll on small screens
@media (max-width: 672px) {
  .widgetCard {
    overflow-x: auto;
  }
}
