@use "@carbon/layout";

.languageOptionsContainer {
  :global(.cds--toggle-password-tooltip > .cds--popover) {
    transition: opacity 100ms ease-out;
  }

  :global(
    .cds--toggle-password-tooltip:not(:hover):not(:focus-within) > .cds--popover
  ) {
    opacity: 0;
  }
}

.submitButton {
  :global(.cds--inline-loading) {
    min-height: layout.$spacing-05;
  }

  :global(.cds--inline-loading__text) {
    font-size: unset;
  }
}
