@use "@carbon/layout";

.chartContainer {
  display: flex;
  min-width: 0;
  margin: 0 layout.$spacing-05;
}

.chartArea {
  flex: 1;
  min-width: 0;
  margin: layout.$spacing-03 0;
  padding-inline-end: layout.$spacing-05;
}

.measurementTable {
  max-width: 100%;
  overflow-x: auto;
}
