@use "@carbon/layout";

.metricTilesSlot {
  display: flex;
  flex-wrap: wrap;
  margin: layout.$spacing-03 layout.$spacing-03 0 layout.$spacing-03;

  [data-extension-id] {
    flex: 1 1 15rem;
    min-width: 0;
  }
}
