@use "@carbon/layout";
@use "@carbon/type";

.emptyStateContainer {
  padding: layout.$spacing-09 layout.$spacing-05;
  border-top: 1px solid var(--cds-border-subtle, #e0e0e0);
  background-color: var(--cds-layer, #ffffff);
  text-align: center;
}

.layer {
  background-color: transparent;
}

.card {
  margin: auto;
  width: fit-content;
  max-width: 100%;
}

.title {
  @include type.type-style("heading-compact-02");

  margin: 0 0 layout.$spacing-03;
  color: var(--cds-text-secondary, #525252);
}

.helperText {
  @include type.type-style("helper-text-02");

  margin: 0;
  color: var(--cds-text-secondary, #525252);
}
