@use "@carbon/styles/scss/spacing";
@use "@carbon/styles/scss/type";
@use "@openmrs/esm-styleguide/src/vars" as *;

.header {
  border-bottom: 1px solid $ui-03;
}

.rightJustifiedItems {
  @include type.type-style("body-compact-02");
  color: $text-02;
  display: flex;
  align-items: center;
}

.dateAndLocation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: spacing.$spacing-05;
}

.value {
  margin-left: spacing.$spacing-02;
}

.middot {
  margin: 0 spacing.$spacing-03;
}
