@use '@carbon/colors';
@use '@carbon/type';
@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.container {
  display: flex;
  flex-direction: column;
  margin: layout.$spacing-03 0 0;
  min-inline-size: 0;
  inline-size: 100%;
}

.abnormal-value {
  border: solid 1px colors.$orange-20-hover;
  background-color: colors.$orange-10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: layout.$spacing-08;
  gap: layout.$spacing-02;
  padding: layout.$spacing-02;
}

.critical-value {
  @extend .abnormal-value;
  border: 1px solid colors.$red-60;
  background-color: colors.$red-20;
}

.label-container {
  flex-grow: 0;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  gap: layout.$spacing-02;
  padding: 0;
  min-width: 0;
}

.value-container {
  @extend .label-container;
  margin-top: layout.$spacing-02;
  align-items: baseline;
}

.label {
  @include type.type-style('label-01');
  color: $text-02;
  overflow-wrap: anywhere;
}

.danger-icon {
  color: $danger;
  height: layout.$spacing-02;
  width: layout.$spacing-02;
}

.value {
  @include type.type-style('body-compact-02');
  white-space: nowrap;
}

.units {
  @include type.type-style('body-compact-01');
  color: $text-02;
  overflow-wrap: anywhere;
}

.pad-right {
  display: flex;
  align-items: baseline;
  gap: layout.$spacing-01;
  min-width: 0;
  margin-right: layout.$spacing-01;
  flex-wrap: wrap;
}

.critically-low,
.critically-high,
.low,
.high {
  &::after {
    @include type.type-style('heading-compact-01');
    color: $text-02;
  }
}

.arrow {
  color: colors.$gray-100;
  font-weight: 500;
}

.low::after {
  @extend .arrow;
  content: ' ↓';
}

.critically-low::after {
  @extend .arrow;
  content: ' ↓↓';
}

.high::after {
  @extend .arrow;
  content: ' ↑';
}

.critically-high::after {
  @extend .arrow;
  content: ' ↑↑';
}
