@use "@carbon/colors";
@use "@carbon/layout";
@use "@carbon/type";
@use "@openmrs/esm-styleguide/src/vars" as *;
@use "@openmrs/esm-patient-common-lib/src/antecedents/condition-form" as
  condition-form;

.emptyResults {
  @include type.type-style("body-compact-01");
  color: $text-02;
  min-height: layout.$spacing-05;
  border: 1px solid $ui-03;
}

.loader {
  padding: layout.$spacing-05 layout.$spacing-03;
}

.conditionLabel {
  @include type.type-style("body-compact-02");
}

.errorContainer {
  margin: layout.$spacing-05;
}

.errorMessage {
  @include type.type-style("label-02");
  color: $danger;
  margin-top: layout.$spacing-03;
}

.radioGroup {
  :global(.cds--radio-button-wrapper) {
    margin-block-end: 0.375rem !important;
  }

  :global(.cds--radio-button__validation-msg) {
    display: none;
  }
}

.spinner {
  &:global(.cds--inline-loading) {
    min-height: layout.$spacing-05;
  }
}

.required {
  color: colors.$red-60;
  margin-left: layout.$spacing-01;
}

@include condition-form.workspace-layout;

.typeOptions {
  @include condition-form.option-grid;
}
