@use "@carbon/layout";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: layout.$spacing-06;
  gap: layout.$spacing-06;
}

.card {
  width: 100%;
  max-width: 28rem;
  display: grid;
  gap: layout.$spacing-06;
}

.form {
  display: grid;
  gap: layout.$spacing-05;
}
