@use "@carbon/layout";
@use "@openmrs/esm-styleguide/src/vars" as *;
.content {
  padding: layout.$spacing-05;
  color: $ui-05;
  overflow-wrap: anywhere;
  p {
    margin-block: layout.$spacing-03;
  }
}
