@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.header {
  background-color: $ui-02;
  border: 1px solid $ui-03;
  border-left: 0px;
  display: flex;
  justify-content: space-between;
  padding-right: layout.$spacing-03;
}

.dropdownContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: layout.$spacing-03;
  margin-top: layout.$spacing-03;
}

.dropdownSkeletonContainer {
  width: 14rem;
}

.errorContainer {
  max-width: 26rem;
}

.locationContext {
  display: flex;
  flex-direction: column;
  min-width: 14rem;
  gap: layout.$spacing-01;
  padding: layout.$spacing-03 layout.$spacing-05;
  border-inline-start: 1px solid $ui-03;
}

.locationContextLabel {
  @include type.type-style('label-01');
  color: $text-02;
}

.locationContextValue {
  @include type.type-style('body-compact-01');
  color: $text-01;
  font-weight: 600;
}

.view {
  @include type.type-style('label-01');
}

.dropdown {
  :global(.cds--list-box__field) {
    width: 14rem;
    overflow: hidden;
  }

  :global(.cds--dropdown--inline .cds--list-box__menu) {
    left: -(layout.$spacing-10);
  }
}

// Overriding styles for RTL support
html[dir='rtl'] {
  .date-and-location {
    margin-right: unset;
    margin-left: layout.$spacing-05;
    & > svg:first-child {
      order: -1;
    }
    & > svg:nth-child(4) {
      order: 1;
    }
    & > span:nth-child(2) {
      order: -2;
    }
  }
}
